body{
  max-width: 90%;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-left: auto;
  margin-right: auto;
}

/* ********** CONTAINER STYLE ************* */

.container{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container > * {
  padding: 10px;
  flex: 1 100%;
}

#mycanvas{
  /*outline: black solid 2px;*/
  /*background-color: blue;*/
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.legend{
  /*background: yellow*/
}

.slider{
  /*background: blue;*/
}

aside{
  text-align: left;
}

h1{
  font-size: 2.5em;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

/* ********** LEGEND STYLE ************* */

.legend{
  padding-top: 50px;
  padding-bottom: 50px;
}

.legend p{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  text-shadow: 1px 1px 4px black;
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

#transportstyle{
  background-color: #51A5C3;
  border-radius: 20px;
}

#foodstyle{
  background-color: #224160;
  border-radius: 20px;
}

#insurancestyle{
  background-color: #ab3636;
  border-radius: 20px;
}

#entertainmentstyle{
  background-color: #ff9900;
  border-radius: 20px;
}

#healtcarestyle{
  background-color: #783868;
  border-radius: 20px;
}

/* ********** MEDIA QUERIES ************* */

@media all and (min-width: 600px){
  .legend{flex: 1 auto;}
  .legendwrap{order: 1;}
  .slider{order: 2;}
}

@media all and (min-width: 800px){
  .slider{flex: 3 0px;}
  .legendwrap{order: 1;}
  .slider{order: 2;}
}
